/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  /* Color scheme */
  --color-primary: #8d8c86;
  --color-primary-dark: #404247;
  --color-secondary: #b1ff05;
  --color-accent: #4f73c7;
  --color-primary-overlay: #124ad8bc;

  /* Neutral colors */
  --color-text: #1d1d1d;
  --color-text-light: #565656;
  --color-background: #ffffff;
  --color-background-alt: #f8f9fa;
  --color-border: #e0e0e0;

  /* Typography */
  --font-family-primary: "Roboto", sans-serif;
  --font-family-heading: "Quintessential", serif;

  --font-size-base: 1rem; /* 16px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 3.25rem; /* 36px */

  /* Spacing */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-2xl: 3rem; /* 48px */
  --spacing-3xl: 4rem;

  /* Border radius */
  --border-radius-sm: 0.25rem; /* 4px */
  --border-radius-md: 0.5rem; /* 8px */
  --border-radius-lg: 1rem; /* 16px */
  --border-radius-full: 9999px;

  /* Box shadows */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  /* assets */
  --bg-img: url("/assets/vecteezy_blue-vector-abstract-textured-polygonal-background_22130178.jpg");
}

body {
  font-family: var(--font-family-primary);
}

h1 {
  font-family: var(--font-family-heading);
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
}

.video-bg {
  position: relative;
}
.video-background video {
  z-index: -1;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

nav {
  font-size: 1.5vw;
}

.hero h1 {
  font-size: 12vw;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
}

.bottom-elements p {
  font-size: 1.5vw;
}
